<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/assets/styles/style.css">

</head>

<body>

    <div class="wrapper" style="background-image: url('/assets/img/login.jpg');">
        <div class="inner" style="background-color: rgb(22, 21, 21)">
            <div class="image-holder" style="padding-top: 6px;height:100px;width:350px;">
                <img src="/assets/img/bookseats.jpg" alt="">
            </div>
            <form action="">
                <br/>
                <h3 style="color:#fff;">Book Your Seats!</h3>
                <!--div class="form-group">
                    <input type="text" placeholder="First Name" class="form-control">
                    <input type="text" placeholder="Last Name" class="form-control">
                </div-->
                <!--div class="form-wrapper">
                    <input type="text" placeholder="Username" class="form-control">
                    <i class="zmdi zmdi-account zmdi-hc-lg"></i>
                </div-->
                <div class="form-wrapper">
                    <input type="Number" placeholder="Number Of Seats" [(ngModel)]="noOfseats" name="seats" class="form-control" style="background:none;">
                    <i class="zmdi zmdi-groups zmdi-hc-lg" style="color:#fff;" ></i>
                </div>
                <!--div class="form-wrapper">
                    <select name="" id="" class="form-control">
                        <option value="" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="femal">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                </div-->
                <!--div class="form-wrapper">
                    <input type="password" placeholder="Organization Name" class="form-control">
                    <i class="zmdi zmdi-library zmdi-hc-lg"></i>
                </div-->
                <div class="form-wrapper">
                    <input type="text" placeholder="Phone Number" name="phone" [(ngModel)]="phone" class="form-control" style="background:none;">
                    <i class="zmdi zmdi-perm_phone_msg zmdi-hc-lg" style="color:#fff;"></i>
                </div>

                <!--div class="form-wrapper">
                    <input type="password" placeholder="Confirm Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div-->
                <button (click)="confirm(noOfseats)" style="background:#fff;color:#333">Book
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
            
        </div>
    </div>
    
</body>