<div class="super_container">
    
  <!-- Header -->

  <header class="header d-flex flex-row">
      <div class="header_content d-flex flex-row align-items-center">
          <!-- Logo -->
          <div class="logo_container">
              <div class="logo">
                  <img src="/assets/img/logo.png" style="padding-top: 3px;"alt="">
              </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav_container">
              <div class="main_nav">
                  <ul class="main_nav_list">
                      <li class="main_nav_item"><a style = "color:white;" href="#">home</a></li>
          <li class="main_nav_item"><a style = "color:white;"href="news.html">news</a></li>
          <li class="main_nav_item"><a style = "color:white;"href="#">about us</a></li>
          <li class="main_nav_item"><a style = "color:white;"href="contact.html">contact</a></li>
          <li class="main_nav_item"><a style = "color:white;"routerLink="signup">Sign-Up/Login</a></li>
          <!--router-outlet></router-outlet-->
                  </ul>
              </div>
          </nav>
  </div>

      <div class="header_side d-flex flex-row justify-content-center align-items-center">
          <img src="/assets/img/phone-call.svg" alt="">
          <span>+91 7013411662</span>
      </div>

      <!-- Hamburger -->
      <div class="hamburger_container">
          <i class="fas fa-bars trans_200"></i>
      </div>

  </header>
<app-home></app-home>