
<head>
	<title>Enrollment List</title>
<style>  
.custom {
    width: 250px !important;
}</style>
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	
	<link rel="stylesheet" type="text/css" href="/assets/table/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color:rgb(19, 19, 18)">
<br/>
<br/>
<br/>
<br/>
<div class="container" style="width:1000px;">
				<div class="table100 ver6 m-b-110">
					<table data-vertable="ver6" >
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1">Name</th>
                                <th class="column100 column2" data-column="column2">Started On</th>
                                <th class="column100 column2" data-column="column2">Ends On</th>
								<th class="column100 column3" data-column="column3">Seats Booked</th>
								
							</tr>
						</thead>
						<tbody *ngFor="let session of Repdata">
							<tr class="row100" >
								<td class="column100 column1" data-column="column1">{{session.topic}}</td>
								<td class="column100 column2" data-column="column2">{{session.from_date}}</td>
								<td class="column100 column3" data-column="column3">{{session.to_date}}</td>
								<td class="column100 column3" data-column="column3">{{session.seats}}</td>
								<!--div class="container" style="display:none;">{{session.seats}}</div-->
							</tr>

						</tbody>
					</table>
				</div>
			</div>
	


	

<!--===============================================================================================-->	
<!--===============================================================================================-->
	<script src="/assets/table/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/table/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/table/js/main.js"></script>

</body>
